<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koko.foodie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Utils.Foodie"
        android:allowBackup="true"
        android:icon="@drawable/foodie"
        android:label="@string/app_name"
        android:roundIcon="@drawable/foodie"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Search.SearchActivity"></activity>
        <activity
            android:name=".Activities.Favorite.FavoritesActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2470974563764561~9284103397" />

        <activity
            android:name=".Activities.Cocktails.CocktailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.detail.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.category.CategoryActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activities.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>